body {
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:14px;
	cursor:default;
	background-color:#FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height:100%;
	margin-bottom:1px;
}
#container {
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
}

#header {
	width:100%;
	padding-top:5px;
	border-bottom: 1px solid silver;
	float: left;
}

#header img{
float: right;
margin: 5px 5px 5px 0;

}



#name {
width: 60%;
float: left;
margin-top: 15px; 
}


.spacer {
	width:100%;
	height:15px;
}
hr {
	border:0px;
	color:#CCCCCC;
	background-color:#CDCDCD;
	height: 1px;
	width: 100%;
	text-align: left;
}
h1 {
	font-size:28px;
	color:#DB661C;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
}
h2 {
	font-size:15px;
	color:gray;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
}
h3 {
	color:#DB661C;
	font-size:15px;
	text-align:left;
	font-weight:300;
	padding:5px;
	margin-top:5px;
}

p.pub {
	font-size:13px;
	color:gray;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
	padding-bottom:0px;
}
p.pubpadding {
	padding-bottom:0px;
	padding-top:0px;
}

#left {
	float:left;
	width: 18%;
	background-color:#FFFFFF;
	color:black;
	padding-top: 5px;

}

#main {
	margin: 5px 5px 5px 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 15px;
	width: 77%;
	background-color: #fff;
	float: left;
	clear: right;
	border-left: 1px solid silver;
}
p {
	color:black;
	background-color:#FFFFFF;
	line-height:20px;
	padding:5px;
}
li {
	color:black;
	background-color:#FFFFFF;
	line-height:20px;
	list-style:inside;
	padding-left:5px;
}
lu {
	color:black;
	background-color:#FFFFFF;
	line-height:20px;
}
a {
	color:#DB661C;
	background-color:#FFFFFF;
}
a:hover {
	color:#DB661C;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#footer {
	clear: both;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.right {
	color:gray;
	background-color:#FFFFFF;
	float:right;
	font-size:100%;
	margin-top:5px;
}
.left {
	color:gray;
	background-color:#FFFFFF;
	float:left;
	font-size:100%;
	margin-top:5px;
}




/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  /* background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 15px;
  transition: 0.3s;
  color: #DB661C;
  font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 450px;
}
